:root {
    --base: #67bf79;
    --base-dark: #57a66a;
    --base-light: #a3e4b0;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

/* Navigation bar */
nav {
    /* background: white; */
    background: var(--base-light);
    padding: 0em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #67bf79;
}

nav > img {
    /* color: white; */
    font-size: 1.5em;
    font-weight: bold;
    width: 1em;
    height: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    padding: 1em;
    margin: 0;
    &:hover {
        /* color: var(--base-light); */
        background: var(--base-light);
    }
}

/* Hero section */
.hero {
    background: url('https://via.placeholder.com/1600x500') center/cover
        no-repeat;
    color: white;
    text-align: center;
    padding: 6em 2em;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.25em;
    max-width: 600px;
    margin: 0 auto;
}

/* Mission statement */
.mission {
    padding: 3em 2em;
    background-color: #f4f4f4;
    text-align: center;
}

.mission h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.mission p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6;
}
